<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ok, Boomer - your not digital assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .center {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .input {
            outline: none !important;
            border:1px solid;
        }

    </style>
</head>

<body style="height: 100%; width: 100%;">
<div class="container center">
    <div class="row">
        <div class="col-6 align-self-center justify-content-center">
            <form method="post">
                <h3>Ok
                    <span style="color:#4285F4">B</span><span style="color:#DB4437">o</span><span style="color:#F4B400">o</span><span style="color:#4285F4">m</span><span style="color:#0F9D58">e</span><span style="color:#DB4437">r</span>
                    ,


                    <input type="text" name="question" value="{{question}}"
                           style="border: none; width: 100%"
                           {%if not comment %}autofocus{%endif%}></h3>

                <br>

                {% if comment %}
                <a role="button" href="/" class="btn btn-dark">more boomers</a>
                {% else %}
                <input type="submit" class="btn btn-dark" value="boom">
                {% endif %}
            </form>
        </div>
        <div class="col align-self-center  justify-content-center">
            {% if comment %}
            <h2><a href="https://reddit.com{{comment.permalink}}" target="_blank">{{comment.answer}}</a></h2>
            by /u/{{comment.author}},
            {{comment.score}} boomed
            <br>
            <i>made for lulz. love your boomer ❤️</i>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>
